[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysqlclient = "*"
requests = "*"
pandas = "*"
datetime = "*"
pytz = "*"
lxml = "*"
keras = "*"
tensorflow = "*"
pyecharts = "*"
flask = "*"
flask-bootstrap = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.6"
